In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [23]:
df = pd.read_csv("green_tripdata_2019-09.csv.gz")

C:\Users\Hang Tan Tai\AppData\Local\Temp\ipykernel_30524\1641238561.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2019-09.csv.gz")

In [29]:
df.head(50)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.00
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.00
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.00
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.00
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.00
5,2.0,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1.0,7,41,1.0,6.26,21.0,0.50,0.5,0.00,6.12,NaN,0.3,28.42,2.0,1.0,0.00
6,2.0,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1.0,33,37,1.0,4.34,18.0,0.50,0.5,3.86,0.00,NaN,0.3,23.16,1.0,1.0,0.00
7,1.0,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1.0,55,55,1.0,1.20,2.5,0.50,0.5,0.00,0.00,NaN,0.3,3.80,3.0,1.0,0.00
8,1.0,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1.0,55,89,1.0,0.00,22.2,0.00,0.5,0.00,0.00,NaN,0.3,23.00,1.0,1.0,0.00
9,2.0,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1.0,17,17,1.0,0.14,2.5,0.50,0.5,0.00,0.00,NaN,0.3,3.80,2.0,1.0,0.00
10,1.0,2019-09-01 00:01:43,2019-09-01 00:13:13,N,1.0,129,7,1.0,1.90,9.5,0.50,0.5,0.00,0.00,NaN,0.3,10.80,2.0,1.0,0.00
11,1.0,2019-09-01 00:29:57,2019-09-01 00:57:26,N,1.0,179,215,1.0,0.00,30.2,0.00,0.5,0.00,0.00,NaN,0.3,31.00,1.0,1.0,0.00
12,2.0,2019-09-01 00:19:22,2019-09-01 00:46:01,N,1.0,129,171,5.0,6.08,22.0,0.50,0.5,0.00,0.00,NaN,0.3,23.30,2.0,1.0,0.00
13,2.0,2019-09-01 00:39:37,2019-09-01 00:48:50,N,1.0,129,129,1.0,0.86,7.0,0.50,0.5,0.00,0.00,NaN,0.3,8.30,2.0,1.0,0.00
14,2.0,2019-09-01 00:13:37,2019-09-01 00:26:46,N,1.0,74,163,1.0,3.59,13.0,0.50,0.5,5.12,0.00,NaN,0.3,22.17,1.0,1.0,2.75
15,1.0,2019-09-01 00:35:43,2019-09-01 00:47:21,N,1.0,7,83,1.0,2.10,9.5,1.00,0.5,1.70,0.00,NaN,0.3,13.00,1.0,1.0,0.00
16,2.0,2019-09-01 00:24:20,2019-09-01 00:32:35,N,1.0,42,116,1.0,0.86,6.5,0.50,0.5,0.00,0.00,NaN,0.3,7.80,2.0,1.0,0.00
17,2.0,2019-09-01 00:45:46,2019-09-01 00:54:31,N,1.0,92,70,1.0,2.59,10.0,0.50,0.5,0.00,0.00,NaN,0.3,11.30,2.0,1.0,0.00
18,2.0,2019-09-01 00:04:52,2019-09-01 00:26:44,N,1.0,83,202,1.0,3.92,16.5,0.50,0.5,0.00,0.00,NaN,0.3,17.80,2.0,1.0,0.00
19,2.0,2019-09-01 00:13:57,2019-09-01 00:34:04,N,1.0,223,137,1.0,5.05,18.5,0.50,0.5,0.00,0.00,NaN,0.3,22.55,2.0,1.0,2.75
20,2.0,2019-09-01 00:58:19,2019-09-01 01:07:00,N,1.0,7,179,1.0,1.43,8.0,0.50,0.5,0.00,0.00,NaN,0.3,9.30,2.0,1.0,0.00
21,1.0,2019-09-01 00:07:27,2019-09-01 00:20:34,N,1.0,97,148,1.0,2.80,12.5,3.25,0.5,0.00,0.00,NaN,0.3,16.55,2.0,1.0,2.75
22,1.0,2019-09-01 00:30:59,2019-09-01 00:39:20,N,1.0,130,28,1.0,1.90,8.0,0.50,0.5,1.85,0.00,NaN,0.3,11.15,1.0,1.0,0.00
23,1.0,2019-09-01 00:56:55,2019-09-01 01:09:41,Y,1.0,130,219,1.0,3.00,12.0,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.00
24,2.0,2019-09-01 01:00:25,2019-09-01 01:12:10,N,1.0,74,42,1.0,2.28,10.0,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.00
25,2.0,2019-09-01 00:01:57,2019-09-01 00:48:20,N,1.0,61,49,1.0,5.14,29.5,0.50,0.5,0.00,0.00,NaN,0.3,30.80,2.0,1.0,0.00
26,2.0,2019-09-01 00:07:09,2019-09-01 00:16:13,N,1.0,74,41,1.0,1.35,7.5,0.50,0.5,2.20,0.00,NaN,0.3,11.00,1.0,1.0,0.00
27,2.0,2019-09-01 00:33:08,2019-09-01 00:45:42,N,1.0,74,263,1.0,2.07,10.5,0.50,0.5,2.91,0.00,NaN,0.3,17.46,1.0,1.0,2.75
28,1.0,2019-09-01 00:18:46,2019-09-01 00:39:09,N,1.0,129,171,2.0,6.60,20.5,0.50,0.5,0.00,0.00,NaN,0.3,21.80,2.0,1.0,0.00
29,2.0,2019-09-01 00:01:54,2019-09-01 00:12:47,N,1.0,75,162,1.0,3.18,11.5,0.50,0.5,3.11,0.00,NaN,0.3,18.66,1.0,1.0,2.75
30,2.0,2019-09-01 00:41:15,2019-09-01 01:16:29,N,1.0,74,67,1.0,16.54,48.0,0.50,0.5,10.41,0.00,NaN,0.3,62.46,1.0,1.0,2.75
31,1.0,2019-09-01 00:15:33,2019-09-01 00:17:34,N,1.0,41,41,1.0,0.40,3.5,0.50,0.5,0.00,0.00,NaN,0.3,4.80,2.0,1.0,0.00
32,2.0,2019-09-01 00:23:29,2019-09-01 00:38:00,N,1.0,93,134,1.0,4.84,16.0,0.50,0.5,0.00,0.00,NaN,0.3,17.30,2.0,1.0,0.00
33,2.0,2019-09-01 00:05:14,2019-09-01 00:27:03,N,1.0,93,226,1.0,8.91,28.0,0.50,0.5,7.32,0.00,NaN,0.3,36.62,1.0,1.0,0.00
34,2.0,2019-09-01 00:12:32,2019-09-01 00:38:24,N,1.0,80,188,3.0,5.22,21.5,0.50,0.5,5.70,0.00,NaN,0.3,28.50,1.0,1.0,0.00
35,1.0,2019-09-01 00:10:38,2019-09-01 00:21:42,N,1.0,65,181,1.0,1.40,9.0,0.50,0.5,2.05,0.00,NaN,0.3,12.35,1.0,1.0,0.00
36,1.0,2019-09-01 00:48:04,2019-09-01 01:01:37,N,1.0,97,256,1.0,3.10,12.0,0.50,0.5,2.00,0.00,NaN,0.3,15.30,1.0,1.0,0.00
37,2.0,2019-09-01 00:38:13,2019-09-01 01:05:42,N,1.0,223,189,1.0,9.57,30.5,0.50,0.5,6.36,0.00,NaN,0.3,38.16,1.0,1.0,0.00
38,2.0,2019-09-01 00:11:38,2019-09-01 00:12:42,N,1.0,136,136,1.0,0.13,3.0,0.50,0.5,0.00,0.00,NaN,0.3,4.30,2.0,1.0,0.00
39,2.0,2019-08-31 23:03:09,2019-08-31 23:10:46,N,1.0,255,256,1.0,1.04,7.0,0.50,0.5,0.00,0.00,NaN,0.3,8.30,2.0,1.0,0.00
40,2.0,2019-08-31 23:12:04,2019-09-01 22:30:13,N,1.0,256,36,1.0,2.57,13.5,0.50,0.5,0.00,0.00,NaN,0.3,14.80,2.0,1.0,0.00
41,2.0,2019-09-01 00:18:05,2019-09-01 00:38:05,N,1.0,74,229,1.0,4.37,17.5,0.50,0.5,4.31,0.00,NaN,0.3,25.86,1.0,1.0,2.75
42,2.0,2019-09-01 00:23:39,2019-09-01 00:27:58,N,1.0,74,75,1.0,1.02,5.5,0.50,0.5,1.36,0.00,NaN,0.3,8.16,1.0,1.0,0.00
43,2.0,2019-09-01 00:49:05,2019-09-01 01:01:29,N,1.0,74,164,1.0,4.73,14.5,0.50,0.5,1.00,0.00,NaN,0.3,19.55,1.0,1.0,2.75
44,2.0,2019-09-01 00:15:10,2019-09-01 00:18:22,N,1.0,7,7,1.0,0.52,4.0,0.50,0.5,0.00,0.00,NaN,0.3,5.30,2.0,1.0,0.00
45,2.0,2019-09-01 00:21:37,2019-09-01 00:33:31,N,1.0,7,226,1.0,1.85,10.0,0.50,0.5,0.00,0.00,NaN,0.3,11.30,2.0,1.0,0.00
46,2.0,2019-09-01 00:43:39,2019-09-01 00:54:42,N,1.0,7,226,1.0,1.94,9.5,0.50,0.5,0.00,0.00,NaN,0.3,10.80,2.0,1.0,0.00
47,1.0,2019-09-01 00:11:04,2019-09-01 00:14:57,N,1.0,166,166,1.0,0.90,5.0,0.50,0.5,1.25,0.00,NaN,0.3,7.55,1.0,1.0,0.00
48,1.0,2019-09-01 00:17:01,2019-09-01 00:28:33,N,1.0,166,127,1.0,4.90,16.0,0.50,0.5,0.00,0.00,NaN,0.3,17.30,2.0,1.0,0.00
49,2.0,2019-09-01 00:43:10,2019-09-01 00:51:07,N,1.0,80,80,5.0,1.53,7.5,0.50,0.5,0.00,0.00,NaN,0.3,8.80,2.0,1.0,0.00

In [25]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  449063 non-null  datetime64[ns]
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: datetime64[ns](2), float64(15), int64(2), object(1)
memory usage: 68.5+ MB

In [22]:
df.shape

(100, 20)

In [27]:
# Filter the DataFrame for trips that started and finished on 2019-09-18
start_date = '2019-09-18'
end_date = '2019-09-18'

filtered_df = df[
    (df['lpep_pickup_datetime'].dt.date == pd.to_datetime(start_date).date()) &
    (df['lpep_dropoff_datetime'].dt.date == pd.to_datetime(end_date).date())
]

# Count the number of trips
total_trips = filtered_df.shape[0]

print(f"Total trips on {start_date}: {total_trips}")

Total trips on 2019-09-18: 15612

In [13]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine("postgresql://root:root@127.0.0.1:5431/ny_taxi")

In [28]:
engine.connect()

In [29]:
# generate the schema in postgres
print(pd.io.sql.get_schema(df, name = "yellow_nytaxi_data", con = engine))

CREATE TABLE yellow_nytaxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [30]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [31]:
df = next(df_iter)

In [33]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [34]:
len(df)

100000

In [35]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [36]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [38]:
df.head(n=0).to_sql(name = "yellow_taxi_data", con = engine, if_exists="replace", schema="taxi_schema")

0

In [39]:
%time df.to_sql(name = "yellow_taxi_data", con = engine, if_exists="append", schema="taxi_schema")

CPU times: total: 2.89 s
Wall time: 11.1 s

1000

In [40]:
from time import time

In [41]:
while True:
    t_start = time()
    df= next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = "yellow_taxi_data", con = engine, if_exists="append", schema="taxi_schema")
    t_end = time()
    print("Insert Another Chunk...., took %.3f second" % (t_end - t_start))

Insert Another Chunk...., took 11.410 second
Insert Another Chunk...., took 13.206 second
Insert Another Chunk...., took 13.589 second
Insert Another Chunk...., took 13.939 second
Insert Another Chunk...., took 13.661 second
Insert Another Chunk...., took 12.610 second

C:\Users\Hang Tan Tai\AppData\Local\Temp\ipykernel_26168\2966809209.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Insert Another Chunk...., took 11.524 second
Insert Another Chunk...., took 11.389 second
Insert Another Chunk...., took 11.862 second
Insert Another Chunk...., took 10.664 second
Insert Another Chunk...., took 11.846 second

C:\Users\Hang Tan Tai\AppData\Local\Temp\ipykernel_26168\2966809209.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df= next(df_iter)

Insert Another Chunk...., took 13.881 second
Insert Another Chunk...., took 8.972 second

StopIteration: